body {
    color:  #828883;
    background-color: #F4F7F4;
    font-family: 'Rubik';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: auto;
    max-width: 80%;
    
  }


 h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #8f247d;
    align-content: center;
    
 }
 a{

    color: #463e4b;
 }

 h2 {
     font-size: 35px;
     font-weight: bold;
     margin: 0 30px 0 30px    
    
 }

 .hlavicka {
 
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/Jana-Rouskova-header.jpg');

 }


 .paticka {

background-color: #F0F4F0;
border-radius: 5%;
text-align: center;
 }

 .telo {
background-color: #E8EEE9;
padding: 50px 15%;
overflow: auto;

 }

 .footer{

text-align: center;
background-color: #D9E3DA;
border-radius: 5%; 
border-color: beige;
font-size: small;

 }

 .foto-1 {
     width: 300px;
     border-radius: 10px;
     float: left;
     margin: 0 30px 0 30px;
  
     
 }
p{
    text-align: left;
}

